body{
    background-color: cadetblue;
}

.grid-container {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    gap: 1px;
    background-color: #949494;
    padding: 0%;
}

.grid-container > div {
    background-color: #d6d6d6;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
}